.header-bg {
	background-image: linear-gradient(60deg, #3867d6, #8000ff);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.rounded-header {
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
